body {
	background: #fdfdfd; 
}

.wrap {
	position: relative;
}

.topNav {
	height: 60px;
	margin-left: 200px;
	background: rgb(0, 188, 212);
}

.leftNav {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 1000px;
	text-align: center;
	box-shadow: 2px 0px 10px -2px rgba(0,0,0,0.3);
	background: #fff; 
}

.leftNav__hero {
	margin: 40px auto;
	width: 160px;
	height: 110px;
	line-height: 110px;
	border: 1px solid  #000;
	border-radius: 4px;
}

.main {
	margin-left: 200px;
	margin-top: 30px;
	padding-left: 70px; 
	width: 800px;
}

.main__title {
	margin-bottom: 20px; 
	font-size: 30px;
	color: #808080;
}